<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptu.noriteo.mapper.UsersMapper">


    <select id="findByEmail" resultType="com.ptu.noriteo.model.Users">
        SELECT * FROM USERS WHERE user_email = #{userEmail, jdbcType=VARCHAR}
    </select>


    <insert id="insertUsers" parameterType="com.ptu.noriteo.model.Users">
        INSERT INTO USERS (
            USER_ID, PROVIDER, PROVIDER_ID, USER_EMAIL, PASSWORD, ROLE_ID,
            USER_NAME, GENDER, MOBILE, PHONE, BIRTH, ZIPCODE,
            ADDRESS1, ADDRESS2, USER_REGDATE, ORIGIN_USER, SYS_USER
        )
        VALUES (
                   USERS_SEQ.NEXTVAL, #{provider}, #{providerId}, #{userEmail}, #{password}, #{roleId},
                   #{userName}, #{gender}, #{mobile}, #{phone, jdbcType=NULL}, #{birth, jdbcType=NULL}, #{zipcode},
                   #{address1}, #{address2, jdbcType=NULL}, SYSDATE,
                   #{originUser, jdbcType=NULL}, #{sysUser, jdbcType=NULL}
               )
    </insert>

    <select id="findById" resultType="com.ptu.noriteo.model.Users">
        SELECT * FROM USERS WHERE USER_ID = #{userId}
    </select>






</mapper>
